@media (max-width: 700px) {
  .hero__text__110{
    font-size: 70px;
  }
  .hero__text__30{
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .hero__text__110{
    font-size: 45px;
  }
  .hero__text__35{
    font-size: 30px;
  }
}