
@font-face {
    font-family: 'Poppins';          
    src: url('../fonts/Poppins-Regular.woff2');     
    font-weight: 400;                 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';          
    src: url('../fonts/Poppins-Black.woff2');     
    font-weight: 900;                  
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cormorant';         
    src: url('../fonts/Cormorant-Regular.woff2');    
    font-weight: 400;                
    font-style: normal;
  }