// Fonts
$cormorant : 'Cormorant';
$poppins : 'Poppins';

// Font Sizing
$baseFontSize: 18px;


$back_text_color: #B1A69C;
$title_text_color: #595047;
$menu_background: #B1A69C;
// Colors
$primary_color: #151517;
$secondary_color: #CBFB45;
$gray_bg_color: #232325;
$stroke_color: #898990;
$white_color: #F3F3F3;
