.hero__text__30{
  font-size: 30px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $back_text_color;
}

.hero__text__110{
  font-size: 110px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $back_text_color;
}

.hero__text__25{
  font-size: 25px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $back_text_color;
}

.hero__text__20{
  font-size: 20px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $title_text_color;
}

.menu__text{
  font-size: 40px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $white_color;
}

.hero__text__35{
  font-size: 35px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $title_text_color;
}

.circle__text{
  font-size: 20px;
  font-family: $cormorant;
  font-weight: 400;                
  font-style: normal;
  color: $white_color;
}

.logo__text{
  font-size: 30px;
  font-family: $poppins;
  font-weight: 400;                
  font-style: normal;
  color: $title_text_color;
}

.back__title__text{
  font-size: 100px;
  font-family: $poppins;
  font-weight: 900;                
  font-style: normal;
  color: $back_text_color;
}