body{
  background-color: #F2EFE8;
}

.header{
  .container{
    display: flex;
    flex-direction: column;
    .header__bg {
      position: absolute;
      max-width: 100%;
    }
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
    }
    .header__content {
      
      .hero__text__30{
        padding-top: 70px;
        padding-left: 380px; 
      }
      .hero__text__110{
        padding-top: 10px;
        padding-left: 185px; 
      }
    }

    .main__slider{
      .slick-prev{
        left: 47%;
        top:120%;
        &:before{
          font-size: 40px;
          color: $back_text_color;
        }
      }
      .slick-next{
        left: 51%;
        top:120%;
        &:before{
          font-size: 40px;
          color: $back_text_color;
        }
      }
      .slick-track{
        display: flex;
        align-items: center;
        justify-content: center;
        .slick-slide{
          margin-right: 50px;
        }
      }
      
    }

    .hero__bottom__text{
      flex: 0 0 auto;
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      .hero__text__25 {
        padding: 50px 120px;
      }
    }
  }
}